#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 180px 30px 80px 30px;
    background-image: url("images/hero_back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(50px);
    color: white;
    font-size: 1rem;
    min-height: 300px;
    height: 100vh;
}

#about,
#projects,
#contact {
    padding: 56px 10%;
}

#myName {
    font-size: 2.1rem;
    font-weight: bold;
}

#description {
    font-size: 1.1rem;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 15px;
}


#callToAction {
    margin-top: 25px;
}

.ctaBtn {
    width: 155px;
    margin: 10px;
}

#about {
    font-size: 1.2rem;
    text-align: justify;
    /*text-justify: inter-word;*/
}

#projects {

    background-color: rgb(68, 68, 68);
    color: white;
    font-size: 1.2rem;
}

#projects>h2 {
    border-left: 5px solid white;
    color: white;
}

.title {
    border-left: 5px solid black;
    width: 165px;
    padding-left: 10px;
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-family: monospace;
    font-weight: bold;
}

#contact {

    font-size: 1rem;
}

.form-group {
    margin: 20px 0;
}

#textArea {
    min-height: 150px;
}

#htmlBar,
#cssBar,
#javascriptBar,
#bootstrapBar {
    background-color: lightgrey;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 25px;
}

.javascriptProgress {
    background-color: rgb(255, 0, 64);
}

.bootstrapProgress {
    background-color: purple;
}

h4 {
    margin-top: 50px;
    /* text-decoration: underline; */
}

#footer {
    text-align: center;
    font-family: monospace;
    color: white;
    padding: 40px;
}

img {
    height: 250px;
}

.navContainer {
    padding-top: 5px;
    padding-bottom: 5px;
}

.icons {
    height: 40px;
    width: 40px;
    margin: 5px;
}