* {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.topnav {
    background: #333;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 1;

}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav ul li {
    display: inline;
}

.topnav ul li a {
    text-decoration: none;
}

.link-item {
    display: inline;
    color: lightgrey;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px;
    font-size: 1rem;
}

.link-item:hover {
    color: rgb(238, 235, 235);
    background-color: gray;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 180px 30px 80px 30px;
    background-image: url("images/hero_back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(50px);
    color: white;
    font-size: 1rem;
    min-height: 300px;
    height: 100vh;
}

#about,
#projects,
#contact {
    padding: 70px 5% ;
}

#myName {
    font-size: 2.1rem;
    font-weight: bold;
}

#description {
    font-size: 1.1rem;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 15px;
}


#callToAction {
    margin-top: 25px;
}

.ctaBtn {
    width: 155px;
    margin: 10px;
}

#about {
    font-size: 1.2rem;
    text-align: justify;
    /*text-justify: inter-word;*/
}

#projects {

    /* background-color: rgb(68, 68, 68); */
    /* color: white; */
    font-size: 1.2rem;
}

.title {
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-family: monospace;
    font-weight: bold;
}

#htmlBar,
#cssBar,
#javascriptBar,
#bootstrapBar {
    background-color: lightgrey;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 25px;
}

.javascriptProgress {
    background-color: rgb(255, 0, 64);
}

.bootstrapProgress {
    background-color: purple;
}

h4 {
    margin-top: 50px;
    /* text-decoration: underline; */
}

#contact {
    text-align: center;
}

#footer {
    text-align: center;
    font-family: monospace;
    color: white;
    padding: 40px;
}

.navContainer {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* card styling */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
}

.card-info {
    padding: 16px;
}

.card-text{
    margin-top: 10px;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.card img {
    object-fit: contain;
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.cards-wrapper{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    row-gap: 50px;
    column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 650px) {
    
    .cards-wrapper{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 500px) {
    
    .cards-wrapper{
        grid-template-columns: 50%;
    }

    .card{
        width: 100%;
        margin: 0 20px;
    }
}


/* social icons styling */

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

#socials {
    height: 70px;
    width: 100%;
}