* {
  scroll-behavior: smooth;
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 100;
  box-shadow: 0 3px 10px -5px;
  background-color: whitesmoke;
}

.topnav a {
  color: #333;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.1s;
}

.topnav a:hover {
  border-bottom: 3px double ;
  color: darkgray;
  margin-top: 7px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 180px 30px 80px 30px;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  height: 100vh;
}

main{
  background-color: whitesmoke;
}

#My_Skills,
#projects,
#contact {
  padding: 70px 4%;
  padding-bottom: 0;
}

#myName {
  font-size: 2.4rem;
  font-weight: bolder;
  margin-bottom: 15px;
  text-shadow: 1px 1px 0px lightblue;

}

#description {
  font-size: 1.1rem;
}

#callToAction {
  margin-top: 25px;
}

.ctaBtn {
  width: 155px;
  margin: 10px;
  background-color: white;
}

#My_Skills {
  overflow-y: hidden;
  height: 300px;
}

#projects {
  font-size: 1.2rem;
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 1px 0px lightblue;
}

.skill-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  display: flex;
  width: 110px;
  height: 120px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 5px;
  transition: 0.2s;
}

.skill-item:hover {
  box-shadow: 0 0 30px 3px lightgray;
  width: 120px;
  height: 130px;
  margin: 5px;
}

.skill-logo {
  width: 100%;
}

#contact {
  text-align: center;
  padding-bottom: 70px;
}

#footer {
  color: white;
  display: flex;
  text-align: center;
  padding: 30px;
}

.footer-left, .footer-right{
  width: 50%;
  padding: 10px;
}

/* card styling */

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 300px;
  overflow: hidden;
  height: 300px;
  margin: 5px;
}

.card-image {
  height: 200px;
}

.card-info {
  background-color: rgb(241, 241, 241);
  padding: 15px;
  align-items: baseline;
  align-content: baseline;
  height: 100px;
}

.card-text {
  font-size: 1.1rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image>img {
  object-fit: contain;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

@media screen and (max-width: 800px) {
  #My_Skills {
    height: unset;
  }
  
  #footer{
    flex-direction: column;
  }
  .footer-left, .footer-right{
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  #myName{
    font-size: 2.7rem;
  }
  #description{
    font-size: 1.3rem;
  }
}

/* social icons styling */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
  border: 1px solid #333;
  background: #333;
  color: whitesmoke;
  transition: 0.3s;
}

#socials a {
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #333;
  background-color: whitesmoke;
}

.fa-facebook {
/*  background: #3b5998;*/
}

.fa-google {
  /*background: #dd4b39;*/
}

.fa-twitter {
/*  background: #55acee;*/
}

#socials {
  height: 70px;
  width: 100%;
}