* {
  scroll-behavior: smooth;
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
}

.sidenav-toggle{
  display: none;
}

.offcanvas-nav{
  overflow: hidden;
  display: none;
  position: fixed;
  z-index: 2;
}

.topnav-links{
  display: flex;
  
}

.topnav-links a{
  margin: 20px;
  transition: 0.1s;
}

.topnav-links a:hover, .links-wrapper a:hover{
  transform: translateY(3px);
  color: #6d6d6d;
}


.topnav{
  display: flex;
  align-items: center;
  padding: 5px 20px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}



.links-wrapper{
  display: flex;
}

.links-wrapper > a{
  margin-bottom: 20px;
  transition: 0.1s;
  font-size: 1.5rem;
}

.topnav-links, .links-wrapper{
  text-transform: uppercase;
}

.menu-icon{
  width: 30px;
  
}

.sidenav-toggle{
  height: 40px;
  border: none;
  background-color: unset;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 180px 30px 80px 30px;
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  height: 100vh;
}

main{
  background-color: whitesmoke;
}

#my-services,
#My_Skills,
#projects,
#contact {
  padding: 70px 4%;
  padding-bottom: 0;
}

#myName {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 15px;
}

#description {
  font-size: 1.3rem;
}

#myName, #description{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.1s;
}

#callToAction {
  margin-top: 25px;
}

.ctaBtn {
  width: 155px;
  margin: 10px;
  background-color: white;
}

.nav-icon{
  width: 45px;
}

.services-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

div.service-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(230, 239, 253);
  text-align: center;
}

.service-logo{
  width: 60px;
}

#My_Skills {
  overflow-y: hidden;
  height: 300px;
}

#projects {
  font-size: 1.2rem;
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 1px 0px lightblue;
}

.skill-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  display: flex;
  width: 110px;
  height: 120px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 5px;
  transition: 0.2s;
}

.skill-item:hover {
  box-shadow: 0 0 30px 3px lightgray;
  width: 120px;
  height: 130px;
  margin: 5px;
}

.skill-logo {
  width: 100%;
}

#contact {
  text-align: center;
  padding-bottom: 70px;
}

#footer {
  color: white;
  display: flex;
  text-align: center;
  padding: 30px;
}

.footer-left, .footer-right{
  width: 50%;
  padding: 10px;
}

/* card styling */

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 300px;
  overflow: hidden;
  height: 300px;
  margin: 5px;
  margin-bottom: 20px;
}

.card-image {
  height: 200px;
}

.card-info {
  background-color: rgb(241, 241, 241);
  padding: 15px;
  align-items: baseline;
  align-content: baseline;
  height: 100px;
}

.card-text {
  font-size: 1.1rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image> img {
  object-fit: contain;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

@media  screen and (max-width: 575px) {
  .links-wrapper{
    flex-direction: column;
    align-items: center;
  }

  .offcanvas-nav{
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
  }

  .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 30px;
  }

  .sidenav-toggle{
    display: inline;
  }

  .topnav-links{
    display: none;
  }

  #myName{
    font-size: 2.7rem;
  }
  #description{
    font-size: 1.1rem;
  }

}


@media screen and (max-width: 800px) {
  #My_Skills {
    height: unset;
  }
  
  #footer{
    flex-direction: column;
  }
  .footer-left, .footer-right{
    width: 100%;
  }

}
/* 
@media screen and (min-width: 700px) {
  #myName{
    font-size: 2.7rem;
  }
  #description{
    font-size: 1.3rem;
  }
} */

/* social icons styling */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
  border: 1px solid #333;
  background: #333;
  color: whitesmoke;
  transition: 0.3s;
}

#socials a {
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #333;
  background-color: whitesmoke;
}

.fa-facebook {
/*  background: #3b5998;*/
}

.fa-google {
  /*background: #dd4b39;*/
}

.fa-twitter {
/*  background: #55acee;*/
}

#socials {
  height: 70px;
  width: 100%;
}